@use "variables" as *;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}