@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.footer {
    border-top: 1px solid $color-border;
    text-align: center;
    padding: 1.5rem 0;
    color: #777;
    font-size: 0.85rem;
}