@use "@/styles/variables" as *;

.about {
  display: grid;
  gap: $stack;
  position: relative;
}

.flex {
  @include flex-between;
  flex-direction: row-reverse;

  @include down($bp-lg) {
    flex-direction: column;
    align-items: center;
    gap: $stack;
  }
}

.photo {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 400px;
  height: 400px;
  margin-right: $gutter;
  border-radius: 30px 0 30px 0;
  box-shadow: 0 8px 20px rgba(59, 130, 246, 0.2);

  img {
    display: block;
    position: relative;
    top: 10%;
    width: 106%;
  }

  @include down($bp-lg) {
    width: 100%;
    margin-right: 0;

    img {
      top: 68%;
    }
  }

  @include down($bp-md) {
    aspect-ratio: 1 / 1;
    height: auto;

    img {
      top: 10%;
    }
  }
}

.text {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: $stack;

  p {
    font-size: fluid(1.1rem, 1.25rem);

    b {
      font-size: 1.1em;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: $gap-sm;
    
    li {
      display: flex;
      font-size: fluid(1.1rem, 1.25rem);

      @include down($bp-md) {
        flex-direction: column;
      }

      em {
        font-style: normal;
      }

      span {
        margin-left: 1rem;
        color: $color-primary;

        @include down($bp-md) {
          margin-left: 0;
        }
      }
    }
  }
}